<div>
  <h1>New Task</h1>
  <%= form_with model: @task, local: true do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    <div>
      <%= form.label :status %>
      <%= form.text_field :status %>
    </div>
    <div>
      <%= form.label :creator %>
      <%= form.text_field :creator %>
    </div>
    <div>
      <%= form.label :performer %>
      <%= form.text_field :performer %>
    </div>
    <div>
      <%= form.label :completed %>
      <%= form.check_box :completed %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  <%= link_to 'Back', tasks_path %>
</div>
