<h1>
  <%= @task.name %>
</h1>
<div>
  <p>
    <strong>Description:</strong>
    <%= @task.description %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= @task.status %>
  </p>
  <p>
    <strong>Creator:</strong>
    <%= @task.creator %>
  </p>
  <p>
    <strong>Performer:</strong>
    <%= @task.performer %>
  </p>
  <p>
    <strong>Completed:</strong>
    <%= @task.completed %>
  </p>
</div>
